<<<<<<< HEAD
html {height: 100%; width: 100%}
body {width: 70%; height: 40%; padding: 0px; margin: 0px; border: 20px;
        font-family: cursive, fantasy, monospace; background: #EE7942;
        font-size: 16px; line-height: 15px; margin-left: 15%;}
        
img  {border: none;}
table, tr, td {border-collapse: collapse; vertical-align: top; font-size: 18px; line-height: 25px;}
a {color: #8D0D19;}

#header {height: 150px; margin: 0px; margin-top: 0px; padding: 0px; text-align: center; background: #1A446C; color: #D4E6FE;}
#header h1 {padding: 20px; margin: 0px;}
#main {margin: 0px; padding: 0px; height: auto; width: 100%; background: #EEE4B9; }
#structure {height: 100%; width: 100%;}
#footer {height: 2em; margin: 0px; padding: 1em; text-align: center;
            background: #1A446C; color: #D4E6F4;}
            
            
/*navigation*/
#navigation {width: 200px; padding: 1em 2em; color: #D4E6F4; background: #35dd22; font-size: 16px;}
#navigation a {text-decoration: none; }
ul.subjects {padding-left: 0; list-style: outside;}
ul.pages {padding-left: 2em; list-style: square;}
.selected {font-weight: bold;}

/*page conten*/

#page {padding-left: 2em; vertical-align: top;}
#page h2 {margin-top: 1em;}
#page h3 {color: #8D0D19;}



/*home gallery*/
#gallery{
    font-family: monospace; border: 1px solid; margin: 10px auto; width: auto;
    padding: 3px;
}
#gallery:after{
    content: '.'; visibility: visible; display: block; clear: both; height: 0; font-size: 0;
}
.thumbs {
    float: left; padding: 10px; margin: 10px auto; background-color: #ddd;
}
.thumbs:hover{
    outline: 1px solid;
}

html {height: 100%; width: 100%;}
body {width: 70%; height: 100%; padding: 0px; margin: 0px; border: 20px;
        font-family: cursive, fantasy, monospace; background: #333333;
        font-size: 16px; line-height: 15px; margin-left: 15%;}
        
img  {border: none;}
table, tr, td {border-collapse: collapse; vertical-align: top; font-size: 18px; line-height: 25px;}
a {color: #8D0D19;}

#header {height: 200px; margin: 0px; margin-top: 0px; padding: 0px; text-align: center; background: #663333; color: #D4E6FE;}
#header h1 {padding: 20px; margin: 0px;}
#main {margin: 0px; padding: 0px; height: auto; width: 100%; background: #666633; }
#structure {height: 100%; width: 100%;}
#footer {height: 2em; margin: 0px; padding: 1em; text-align: center;
            background: #663333; color: #D4E6F4;}
            
            
/*navigation*/
#navigation {width: 200px; padding: 1em 2em; color: #D4E6F4; background: #8D0D19; font-size: 16px;}
#navigation a {text-decoration: none; }
ul.subjects {padding-left: 0; list-style: outside;}
ul.pages {padding-left: 2em; list-style: square;}
.selected {font-weight: bold;}

/*page conten*/
#page {padding-left: 2em; vertical-align: top;}
#page h2 {margin-top: 1em;}
#page h3 {color: #8D0D19;}


/*home gallery*/
#gallery{
    font-family: monospace; border: 1px solid; margin: 10px auto; width: auto;
    padding: 3px;
}
#gallery:after{
    content: '.'; visibility: visible; display: block; clear: both; height: 0; font-size: 0;
}
.thumbs {
    float: left; padding: 10px; margin: 10px auto; background-color: #ddd;
}
.thumbs:hover{
    outline: 1px solid;
}

/*button*/
.button {
	-moz-box-shadow:inset -1px 1px 40px 15px #bbdaf7;
	-webkit-box-shadow:inset -1px 1px 40px 15px #bbdaf7;
	box-shadow:inset -1px 1px 40px 15px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:19px;
	-moz-border-radius-topleft:19px;
	border-top-left-radius:19px;
	-webkit-border-top-right-radius:19px;
	-moz-border-radius-topright:19px;
	border-top-right-radius:19px;
	-webkit-border-bottom-right-radius:19px;
	-moz-border-radius-bottomright:19px;
	border-bottom-right-radius:19px;
	-webkit-border-bottom-left-radius:19px;
	-moz-border-radius-bottomleft:19px;
	border-bottom-left-radius:19px;
	text-indent:0px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:68px;
	line-height:68px;
	width:164px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 0px 1px #528ecc;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.button:active {
	position:relative;
	top:1px;
}




>>>>>>> 62619b5843b2b0779db9c748d5955043f94e827b
