.ground {
	text-align:center;
	font-family:verdana;
	padding:20px;
	/*border-radius:10px;*/
	border:10px solid #EE872A;
	background-color: #D1FFD1;
	line-height: 15%;
	width: 72.6%;
	float:left;
	vertical-align:middle;
}

.dt {
	font-family:verdana;
	padding:10px;
	/*border-radius:15px;*/
	border:15px solid #C0AFAF;
	background-color: #E0D7D7;
	line-height: 50%;
	width: 73.7%;
	float:left;
	vertical-align:middle;
}

.dati {
text-align:center;
font-family:"Comic Sans MS";
font-size: 20px;
padding:10px;
background: #ccc;
width: 30%;
float: left;
margin-left:2%;
}


#location {
background: #ccc;
width: 30%;
float:left;
}

.screen {
	width: 300px;
	height: 4px;
	background-color: #A38566;
	text-align:center;
	margin: 0 auto;
	
}

.cart {
	text-align:center;
	font-family:"Arial Black";
	background-color: #B2B2B2;
	/*border-radius:10px;*/
	border:10px solid #4C4C4C;
	width: 19%;
	height:auto;
	margin-left: 79%;
}

.reference {
	opacity:0.9;
	width: 80%;
	line-height: 25%;
	text-align:center;
	font-family:"Lucida Grande";
	border: 3px solid #000000;
	border-radius:10px;
	margin: 0px auto 0px auto;
}

.amm {
	width: 80%;
	font-family:"Lucida Console";
	border: 4px solid #CC987E;
	border-radius:10px;
	margin: 0px auto 0px auto;	
}

#ido .ui-selecting {
background: #ccc;
}

#gr .ui-selected {
background: #999;
}

